[2014-02-14 16:19] wrburgess opened #2 "Error: Cannot find module 'event-stream'"
Not sure if this is a bug or incorrect setup on my part. When I run my task I get an error about the event-stream.
## Versions

Mac OSX 10.8.5
NPM 1.4.2
## Code

[code]
## Error

[code]

[2014-02-15 00:12] #2 closed, assigned to nobody

[2014-03-04 06:21] gilesbutler opened #4 "Better documentation"
You really need some more helpful docs on how to set S3 folder path.

I just used this plugin with the sync option enabled and it wiped out some work on our S3 bucket!!! Unfortunately we didn't have versioning turned on so we've now lost that work for good.

There should be a warning to users to be cautious when using sync.

[2014-03-04 17:00] #4 closed, assigned to nobody

[2014-03-06 09:40] mvhecke opened #5 "Option to add a path"
At the moment I'm missing the option to add a path where it should write to. I've made a simple workaround for myself but I can imagine that more people require something like this. I wanted to know you opinion on how we could make this work because the headers are optional so adding an additional parameter might not be handy.

Workaround:
https://github.com/Gamemaniak/gulp-awspublish/commit/5618e

[2014-03-18 17:37] pgherveou opened #6 "make sync method work when bucket contains more than 1000 items (Amazons API limitation)"

[2014-03-22 04:55] smebberson opened #7 "Push (and overwrite) only"
Hey there,

It's seems as though the sync option is the only way to push the actual files across to S3. Is that correct?

I'm not fond of the deleting that sync does, and would prefer a push (and overwrite) only. Does this option exist?

cheers,
Scott.

[2014-03-23 00:46] #7 closed, assigned to nobody

[2014-03-23 00:47] smebberson opened #8 "Error handling"
At present there seems to be very little error handling. For example, specifying an incorrect bucket name doesn't expose any of the 404 errors, etc, that Amazon S3 returns.

I'm keen to add something.

Have you had any thoughts on the best way to handle this?

[2014-03-26 17:57] #5 closed, assigned to nobody

[2014-03-26 17:58] #8 closed, assigned to nobody

[2014-04-08 00:13] peterfox opened #11 "Uploading with path prefix"
Is there a way add an extra prefix to the S3 uploads/sync, the documentation doesn't make it quite clear?

E.g. I have a public function like this:

gulp.task('publish', function(){
  return gulp.src('public/assets/**')
    .pipe(publisher.publish())
    .pipe(publisher.sync())
    .pipe(awspublish.reporter());
});

I have a directory structure like this:

public/
    assets/
         js/

[2014-04-08 14:46] #11 closed, assigned to nobody

[2014-04-23 06:56] #6 closed, assigned to nobody

[2014-04-24 02:33] ddarbyson opened #12 "Sync: entire bucket?"
Seems odd to have sync call the entire bucket. Why can't we only sync a specific directory?

[2014-04-24 08:48] #12 closed, assigned to nobody

[2014-04-25 17:32] ryan-kimber opened #13 ".on('end', function() {...}) not called"
We're trying to upload our index.html file with one set of cache-control headers and then the rest of our resources with another, but after the first upload is complete, and the second upload (via callback) doesn't get called. I would assume that this would also mean task dependencies would fail.

Example:

[code]

[2014-05-07 13:54] davidaurelio opened #14 "Update headers even though files are identical"
Please update header data even when files are identical.

I’d like to be able to vary the “Cache-Control” header, but once uploaded, unchanged files are skipped completely.

[2014-05-08 15:47] #13 closed, assigned to nobody

[2014-05-08 16:09] #14 closed, assigned to nobody

[2014-05-23 03:07] sudsy opened #15 "Throws TypeError('Uncaught, unspecified "error" event.') on S3 Access Denied"
I am setting up gulp-awspublish for the first time and I have been receiving the following error trying to publish.

[code]

When I looked into it further it seems it is occuring because I am receiving a 403 response code Access Denied from AWS.

[2014-05-30 06:07] jussi-kalliokoski opened #16 "Per-file configuration"
First of all, this plugin rocks, thank you for making it!

Currently there's no mention of being able to specify headers, gzipping and target key on a per-file basis. This is currently possible by writing to the files `s3` property, e.g.

[code]

But that feels like messing with private properties, and could use some abstraction. If the initFile function was exposed as a gulp middleware of the pub

[2014-05-30 10:14] #16 closed, assigned to nobody

[2014-06-04 12:10] grassick opened #17 "Sync to multiple buckets problem with cache"
As I understand the cache, it is caching the ETag of the S3 bucket files. If I sync to multiple different buckets, doesn't that mean that the cache will fail to upload to a second bucket since the ETag locally will not have changed?

Storing the destination bucket in the cache file would solve it, I think. Or getting the ETag fresh each time from S3 to compare it to.

[2014-06-04 12:11] #17 closed, assigned to nobody

[2014-06-16 00:25] #15 closed, assigned to nobody

[2014-06-27 00:23] nijikokun opened #18 "Retry?"
Why is there no retry option?

[2014-07-08 16:25] normanrz opened #19 "Parallel uploads"
I know this is probably not a concern of this particular module, but I'm curious if any one of you has a good recipe for uploading some files in parallel?

[2014-07-09 21:53] koistya opened #20 "An issue with relative paths / glob on Windows"
[code]

After publishing from windows, it creates files in S3 bucket with full paths leading to C:, for exmaple instead of uploading `favicon.ico` into the root, it creates a folder for it `C:/Projects/Site/build/`

And in the log it writes something like:

[code]

instead of:

[code]

[2014-07-09 22:40] koistya opened #21 "Automatically update Index Document and Error Document values"
Is there a way to automatically update `Index Document` and `Error Document` values in S3 bucket settings after deployment?

[2014-07-10 06:06] koistya opened #22 "Detect charset and include it in headers"
Would be nice to detect charset for text file types (at least for .html file) and include it into Content-Type header.

[2014-07-10 10:41] koistya opened #23 "Allow to selectively specify HTTP headers"
In a real-world scenario, you may want to set different 'mx-age' header values for different file types. Also you may want to explicitly set charset value for specific files or file types.

[code]

See: https://github.com/h5bp/server-configs-apache/blob/master/src/.htaccess#L651-L697

You can just add an additional check here:

https://github.com/pgherveou/gulp-awspublish/blob/be7cb483b9ce6c4f700d

[2014-07-14 17:35] #19 closed, assigned to nobody

[2014-07-14 23:10] #20 closed, assigned to nobody

[2014-07-14 23:12] #21 closed, assigned to nobody

[2014-07-14 23:54] #22 closed, assigned to nobody

[2014-07-14 23:55] #23 closed, assigned to nobody

[2014-07-27 09:43] joshhunt opened #26 "301 Redirect error"
Whenever I use this, I keep getting the following error:

[code]

Here's my task so far

[code]

And my env variables:

[code]

What would be causing this? Should gulp-awspublish/knox follow the redirect, or have I made an error somewhere?

**Edit:** Digging in some more, if I make a get request, I get this back:

[code]

[2014-07-30 09:00] #26 closed, assigned to nobody

[2014-07-30 18:35] grassick opened #28 "awspublish fails to sync files in Windows"
It creates all the files correctly on S3 but with backslashes displayed on the console, e.g. `app\index.js`. It then deletes all the files it just created but with forward slash e.g. `app/index.js`, leaving the bucket empty except for root directory.

[code]

[2014-08-04 15:14] AshCoolman opened #29 "Unsure how to upload to specific folder"
From reading the documentation I've only been able to upload to the root directory. I'm a bit nervous about experimenting with the particular aws server I'm publishing to. Could you perhaps include an example in the docs of uploading to a specific folder? thanks

EDIT:  I must be blind:

// see examples/rename.js

gulp.src('examples/fixtures/*.js')
    .pipe(rename(function (path) {
        path.d

[2014-08-06 15:54] #29 closed, assigned to nobody

[2014-09-03 09:06] Shark-Laser opened #31 "Time out err"
Hi, Any idea about following err? Was trying your first example

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: connect ETIMEDOUT
    at errnoException (net.js:901:11)
    at Object.afterConnect [as oncomplete](net.js:892:19)

[2014-09-03 12:17] #31 closed, assigned to nobody

[2014-10-17 13:52] madhums opened #32 "use aws-sdk instead of knox?"
Thanks for this library, works great! I was having some [troubles](http://stackoverflow.com/a/11503946/232619) uploading to s3 when the bucket name contains hyphens. I get 403, which seems like a [common issue](https://github.com/LearnBoost/knox/search?q=403&type=Issues&utf8=%E2%9C%93) in knox.

Would you consider a PR if I work on using aws-sdk?

[2014-11-15 22:38] phyllisstein opened #33 ""TypeError: Object.keys called on non-object" after gzip."
Hey there! I'm sorry to be a bother, but I'm having some trouble coaxing this package into working for me and was hoping you might have some insight. From what I can make out of the backtrace, it's crashing just after gzip, with an error from Knox that reads "TypeError: Object.keys called on non-object." I added the backtrace, the Gulp task (mostly just janked from the documentation), and the resu

[2014-12-21 02:42] #33 closed, assigned to nobody

[2014-12-22 22:57] doapp-ryanp opened #34 "error: uncaughtException: CERT_UNTRUSTED"
any idea why I keep getting this? I got a new computer (5k mac) and I get this error.  On my old mac laptop (same code) I do not get this error.

Here is the log:

[code]

Here is part of my gulpfile where it is blowing up:

[code]

thanks in advance

[2014-12-23 16:11] #34 closed, assigned to nobody

[2015-01-05 22:09] jmbarbier opened #35 "[doc] add region to awspublish parameters"
Just as a reminder that could be in the docs : if you use a non-us bucket (eu-west-1 for example), you have to add the region parameter to awspublish.create

It's a common mistake, but as there are no errors on failures, it can be hard to diagnose.

[2015-01-05 23:08] pgherveou commented on #35
Thks for the feedbacks
the doc already point to https://github.com/LearnBoost/knox#client-creation-options but if you you can add a more meaningful example if you wish and I will merge your pull request

[2015-01-05 23:08] #35 closed

[2015-01-06 22:08] #28 closed

[2015-01-15 11:27] ando-takahiro opened #37 "FYI: region"
I needed 'region' in options for publish.

[2015-01-15 11:31] ando-takahiro commented on #37
sorry, my mistake.  not publish, but create.  and there is a comment in your document to see knox. sorry.

[2015-01-15 11:31] #37 closed

[2015-01-29 13:01] klaemo opened #39 "proposal: use semver"
Hey,
would you consider adopting the semantic versioning scheme?

Thanks

[2015-01-29 17:12] pgherveou commented on #39
Sure I can be more strict about it!

Sent from my iPhone

[2015-01-29 17:22] klaemo commented on #39
I think starting with 1.0.0 once the aws-sdk PR is merged would be a good idea. :)

[2015-01-29 18:26] pgherveou commented on #39
Good idea :)
all done

[2015-01-29 18:26] #39 closed

[2015-01-29 18:27] #32 closed

[2015-02-01 21:37] hlassiege opened #41 "Format of bucket name?"
Hi,

I'm new to AWS and I tried to use gulp-awspublish to upload somes files on a s3 bucket.
Hower, I always get and error :

C:\***\node_modules\gulp-awspublish\node_modules\aws-sdk\lib\request.js:32
          throw err;
                ^
NoSuchBucket: The specified bucket does not exist

[code]

I've tried with
mybucket (=> BadRequest: null)
arn:aws:s3:::mybucket (=> NoSuchBucket: The specified

[2015-02-02 02:59] pgherveou commented on #41
it should work with bucket: 'myBucket'
Have a look here http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html
Make sure your can connect using make aws-sdk module. If it works it should work with  gulp-awspublish too.

[2015-02-02 10:52] hlassiege commented on #41
Ok, I found it. It is necessary to give the 'region' param

var publisher = awspublish.create({
        region : 'eu-central-1',
        key: '***',
        secret: '***',
        bucket: 'mybucket'
    });

I guess it thanks to this file https://github.com/aws/aws-sdk-js/blob/master/configuration.sample

Thanks,
Bye

[2015-02-02 10:52] #41 closed

[2015-02-02 16:43] pgherveou commented on #41
Cool,
dont hesitate to add a note on the readme and send a PR, if you think things could be clearer!

[2015-02-04 03:43] milieu opened #42 "Call sync without calling publish first"
In the [docs](https://github.com/pgherveou/gulp-awspublish#publishersyncprefix) it says:

In the code sample `sync()` is run after `publish()`.

Is it possible to do the following?
[code]

Using this task results in this error for me:
[code]

I don't call sync after publish because I publish multiple sets of my project with different headers in separate tasks.

[2015-02-06 05:50] shedd commented on #26
I also ran into this issue after changing my S3 bucket name.  At first, I also suspected that it was a bucket name with periods, but it turned out that I moved from a US Standard bucket to one in US West and needed to specify the `region` attribute: https://github.com/LearnBoost/knox#region

[2015-02-07 21:28] pgherveou commented on #42
Not sure what you are trying to do in the first place?

Basically when you call publish each files receive some s3.* properties as described here (https://github.com/pgherveou/gulp-awspublish#publisherpublishheaders-options)
when sync is called we just list all the files that are in your bucket remove the ones that you published and deletes the one remaining

if you dont call publish first then yo

[2015-02-11 22:47] elado opened #43 "UnexpectedParameter: Unexpected key 'AccessControlAllowOrigin' found in params"
Getting `UnexpectedParameter` error when publishing with `Access-Control` extra headers. If I take them out and leave only `Cache-Control` it publishes but doesn't add the headers.

It used to work with previous versions of this module. Currently using latest of this and `aws-sdk`.

[code]

[2015-02-12 00:40] pgherveou commented on #43
Not sure of the details these valid parameters?
[code]

[2015-02-12 03:45] #42 closed

[2015-02-12 18:12] elado commented on #43
I think it's related to `aws-sdk` parsing, not this module.

[2015-02-13 19:28] adrienkohlbecker opened #44 "Usage of the prefix in sync()"
Hello,

I wanted to scope the sync to a subdirectory of my bucket. For this I set the prefix like this :
[code]

But the files are synced to the root of the bucket. Is this a bug or a misunderstanding on my part ?

Thanks

[2015-02-13 21:59] adrienkohlbecker commented on #44
So I figured it out, you have to use both the prefix in sync and gulp-rename.
Could be clarified in the readme?

[2015-02-18 19:30] pgherveou commented on #44
can u send me a sample of the code you are using so I can understand it better?

[2015-02-18 20:20] adrienkohlbecker commented on #44
Here you go:

[code]

What I gathered from the source code is:
- gulp-rename is used for uploading the files in the directory
- the argument to `sync` is used to scope the deletion of the old files (otherwise the other directories get deleted)

[2015-02-18 21:10] pgherveou commented on #44
You are doing it right, but that seems to be specific to your directory structure,
(not everybody use remame first)
Feel free to send me a PR to add more precision to the docs or to add more examples inside the examples folder

[2015-02-19 23:29] vrivellino opened #45 "Does not work correctly on EC2 instance with IAM Instance Profile"
We have a project that uses gulp-awspublish to publish to S3, and we're trying to configure it on a build server that runs on an EC2 instance with an IAM Instance Profile assigned to it.

However, when executing our `deploy` task (which performs the upload), we getting a `Bad or invalid credentials` error:

[code]

It appears you are checking to see if `accessKeyId` is a member of opts:
https://gi

[2015-02-19 23:47] pgherveou commented on #45
Yes agree letting the error bubble up make sense to me
 @mshick wrote the aws integration, what do you think?

[2015-02-19 23:48] pgherveou commented on #45
@vrivellino if things works for you without https://github.com/pgherveou/gulp-awspublish/blob/e7f8400448cf38ed016659a1100717e99e987d83/lib/index.js#L38-L43
can you make a pull request?

[2015-02-19 23:50] pgherveou commented on #45
@vrivellino did you try simply to make your code go through this condition https://github.com/pgherveou/gulp-awspublish/blob/e7f8400448cf38ed016659a1100717e99e987d83/lib/index.js#L71

[2015-02-19 23:56] vrivellino commented on #45
@pgherveou I believe I did. I was just using some console.log() statements, but it appears the first time through the call to GetCredentials(), it fell all the way through down to line 75: `return getCredentials(new AWS.SharedIniFileCredentials(opts));` And it bailed when it made the second call to GetCredentials().

I have confirmed that deleting lines 38-43 corrects this problem both on an EC2 i

[2015-02-19 23:58] vrivellino commented on #45
@pgherveou Just to be clear, it appears `AWS.config.credentials` returns null on the EC2 instance. (I think this is expected behavior, too.)

[2015-02-20 01:47] #45 closed

[2015-02-20 01:50] pgherveou commented on #43
I close it let me know if there is anything else I can do

[2015-02-20 01:50] #43 closed

[2015-02-25 11:34] bogdan-dumitru opened #48 "[question] Shared cache file"
I'm trying to wrap my head around how to use the cache on a project with multiple devs. Basically the question is, do you suggest keeping the cache file(s) in the repo so that everybody has the same cache file when running a deploy, or is there some other way of keeping things in sync?

Everybody having their own version of the cache file is bad, because it may cause some assets to not update when

[2015-02-25 15:03] pgherveou commented on #48
You could add the deployment to s3 after a post-receive action on a bare repository from your build server.

I won't worry to much about the cache, the plugin make a head request to check that the files are different before uploading anything

Sent from my iPhone

[2015-02-25 15:16] dennari opened #49 "Use the bucket listing"
Hi! I've been running into some performance issues that have to do with making a separate headObject request for every file. Why not use the [GET Bucket (List Objects)](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html) command and get the ETags for 1000 files at a time?

[2015-02-25 15:51] bogdan-dumitru commented on #48
Got it cool, thanks for the info!

[2015-02-25 15:51] #48 closed

[2015-02-25 16:47] pgherveou commented on #49
Have you considered
- using the cache so you only have these perf issues he first time you run your command
- upload files in parallel https://github.com/pgherveou/gulp-awspublish#upload-file-in-parallel

That's sound a bit harder to develop, but if that does not work for you, you can give it a try

[2015-02-25 21:20] dennari commented on #49
Well, the cache works really well in a local setup, but in a shared CI environment it's harder to set up. Parallelization would probably help to a degree, but I don't think its a solution that scales. Here's an outline to a solution that does scale: [Getting Size and File Count of a 25 Million Object S3 Bucket](http://blogs.scalablelogic.com/2014/01/getting-size-and-file-count-of-25.html). Is ther

[2015-02-26 02:44] pgherveou commented on #49
I think the current solution works well for most of the use cases

Concerning your use case what I think what would be best, would be:
- to add an additional method that let you populate the cache
- to add an an option to by pass the header requests

So to solve your problem you could then
- create a transform stream or call an async function that feed the cache
- call publish

it could look like

[2015-02-26 16:37] dknochen commented on #26
I had the same error on some machines and didn't have it on others. In the end, I narrowed the error to the following conditions:

- the bucket name contains periods
- protocol is https
- publish is called from an ec2 machine

the workaround in my case:

- add `config.secure = false;` (i.e. use http instead of https which is no problem in my case because requests stay within the AWS network ec2->s

[2015-02-26 17:07] pgherveou commented on #26
The current version of the plugin use the aws sdk so this might be outdated
as long as you can use the aws sdk and push files to S3 with it, this plugin should work too

[2015-02-27 05:06] argelius opened #51 "Crash when using sync()"
Hi,

When I use sync it crashes when it tries to delete a file. Upload works fine:

My task:

[code]

The stack trace is quit long so i pasted it on pastebin:
http://pastebin.com/SKHKpzXV

This is in version 1.0.3. I just saw that you tagged 1.0.4, so I'll try that shortly.

[2015-02-27 16:28] pgherveou commented on #51
first line of the stack seems to be related to an other module gulp-cloudfront
Can you have a look at whats going here?

[code]

if you are piping stuff (other than the reporter) after the sync method that might cause some issues cause we are adding fake deleted files into the stream

[2015-03-01 08:31] pgherveou commented on #51
just pushed a fix, try out 1.0.5 and let me know if things works for you

[2015-03-01 08:34] #44 closed

[2015-03-02 08:47] argelius commented on #51
Thanks @pgherveou !

I tried deploying again at it worked like a charm. Now I can use `sync()` again. :)

[2015-03-02 16:44] #51 closed

[2015-03-12 23:26] ianks commented on #51
This is still failing for me. Not sure why.

[2015-03-13 04:39] pgherveou commented on #51
Any stack trace?
The sync method is adding
Some blank files into the stream so we can pipe all the deleted file in the reporter, so if you pipe anything after it,make sure to test the file content or the s3.state file

[2015-03-14 18:19] ianks commented on #51
Pipe deleted files? Why not just have a boolean to indicate whether the file had been deleted and use on sync those objects? Seems bad to make it so the user has to worry about that logic.

Here's my gulp task that fails:

[code]

[2015-03-15 01:16] pgherveou commented on #51
Because you might want to list these files in the reporter or use these references to remove these files from another cache... It should be easy to build a stream that filter these files out
You could move the sync at the end of your pipe chain otherwise

Sent from my iPhone

[2015-04-01 22:21] jm3 opened #53 "deploying to bucket outside the default region us-east-1 fails with cryptic 301: null error"
this is basically user error on my part, but forgetting to pass the AWS region in the config `{}` for non-**us-east-1** buckets causes gulp-awspublish to die with a cryptic `301: null` error. it would be nice if this error was more helpful, e.g.:

#### BUCKET NOT FOUND: please check your bucket name and AWS region

##### gulp-awspublish version:

[code]

##### error:
[code]

[2015-04-02 22:03] pgherveou commented on #53
sorry for the hassle
its quite hard for me to investigate these kind of connection issues
can you try to manually pushing a file
using aws (see https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L402 for example)
and see if you get the same error too

[2015-04-03 00:40] jm3 commented on #53
I spent about half an hour trying to take that index.js apart to make it do what you're asking, but I don't really know how. I'm not familiar with how the F--- through.js and the rest are expecting files to be passed, and it seems like the line you're pointing at, 402, needs all the surrounding methods in order to do anything, so I don't know how to make a simple repro test to check what you're as

[2015-04-03 00:45] jm3 commented on #53
holy crap, I figured it out! my bucket's not in the default `us-east-1` region! passing `us-west-1` in the config object fixed it! :+1:

[2015-04-03 15:56] pgherveou commented on #53
Glad you found the error,
We should look into aws to see if we can get better error messages, or send them an issue, I don't think this plugin should be in charge of that.

[2015-04-12 02:24] gon commented on #26
@shedd is right, even though S3's Region pulldown menu seems not to care about Regions it so does. My suggestion is to *always specify the region option*.

[2015-04-12 08:48] pgherveou commented on #26
Yep you are right could you add a note inside the readme maybe?

[2015-04-13 13:47] rossthedevigner opened #55 "Publish to directory within a bucket"
Can you provide an example of deploying to a directory within a bucket?

[2015-04-13 20:30] pgherveou commented on #55
that should be pretty easy, have a look at the existing example

something along this lines shoould give you want you want
[code]

[2015-04-24 17:07] JamieDixon commented on #53
I ran into this same issue today also. It would help if there was mention of the region parameter in the README to let users know that they need to specify the region. I'm happy to send a pull request with that change if you're good with it.

[2015-04-24 17:17] jm3 commented on #53
@JamieDixon good idea

[2015-04-24 21:54] pgherveou commented on #53
PR are more than Welcome :)

Sent from my iPhone

[2015-04-28 16:10] alexgorbatchev commented on #49
@dennari curious, were you able to find a suitable solution?

[2015-04-28 16:10] #55 closed

[2015-04-28 16:11] alexgorbatchev commented on #53
We just pushed 2.0 out which takes straight S3 config options, so you are able to do quite a few other things like use a proxy. Do you think we still need to be explicit about the region in that case?

[2015-04-28 16:12] alexgorbatchev commented on #18
Curious how often do S3 uploads fail?

[2015-04-28 19:54] jm3 commented on #53
when there are many possible AWS regions and the error for wrong region is
a cryptic 301, i think it makes sense to have a more instructive error so
the developer knows what's wrong.

On Tue, Apr 28, 2015 at 9:11 AM Alex Gorbatchev <notifications@github.com>
wrote:

[2015-04-29 13:26] alexgorbatchev commented on #53
I just used an invalid bucket name for the test and got a pretty digestible error. Perhaps it was addressed on AWS side?

[code]

[2015-04-29 15:57] jm3 commented on #53
try different region?
On Wed, Apr 29, 2015 at 6:26 AM Alex Gorbatchev <notifications@github.com>
wrote:

[2015-05-04 09:35] hiattp commented on #53
@alexgorbatchev Using v2, got the same cryptic 301. Adding to the readme or changing the error would definitely still help.

[2015-05-05 19:55] danielberndt opened #60 "documentation of v2.0.0 config"
I just tried updating my configuration to the v2.0.0 style. I didn't get very far however. I already learned that I need to use S3-SDK style params. But I couldn't find how to do what I did before.

This is my old code:
[code]

I know that the bucket now needs to be passed as `{params: {Bucket: "my.bucket.name"}}`. But how about the rest? Any pointer to the correct docs would be greatly appreciate

[2015-05-17 14:26] cedricve commented on #49
Is there any news about the feature request?

[2015-05-19 06:27] bradvogel opened #62 "Breaking API change in 1.0.7 - really?"
Why did you merge https://github.com/pgherveou/gulp-awspublish/commit/f7efee88f6749d8c20be2674f0aa4368b2305d08 into 1.0.7? It broke our entire deployment. Please bump the major version when making a major API change!

[2015-05-19 06:27] wearhere commented on #62
+1

[2015-05-19 16:54] alexgorbatchev commented on #62
Somebody didn't merge package.json correctly, I will fix.

[2015-05-19 17:02] alexgorbatchev commented on #62
I have published `1.0.9` to fix the issue for you and unpublished `1.0.6` and `1.0.7`. Sorry about that.

[2015-05-19 17:07] #62 closed

[2015-05-19 17:12] bradvogel commented on #62
Still at https://www.npmjs.com/package/gulp-awspublish. Can you please publish?

[2015-05-19 18:10] alexgorbatchev commented on #62
Sorry, keep forgetting about internal registry... I can't seem to unpublish `1.0.8` from publish registry even though it reports success. There's `1.0.9` and `2.0.2` now published.

[2015-05-19 20:04] benc commented on #60
I got it working using

    var publisher = awspublish.create({bucket: "my.bucket.name"}, profile: "my-profile", region: "eu-central-1");

[2015-05-19 20:49] danielberndt commented on #60
Thanks! But is this valid javascript? it seems `profile` and `region` aren't part of any object literal.

[2015-05-19 21:23] benc commented on #60
Woops, you're right.

    var publisher = awspublish.create({{bucket: "my.bucket.name"}, profile: "my-profile", region: "eu-central-1"});

Working example [here](https://github.com/benc/www.cochezconsult.be/blob/master/tasks/publish.js)

[2015-05-27 14:56] hrajchert opened #63 "Problems with file naming"
Hi, I have two problems using the library.

I have a file structure like this

[code]
And using this code

[code]

It resolves the file.s3.path to `/hrajchert/project/public/js/runner/file1.js`, which would be the absolute path to the file (clearly not what I want as s3 key)

If I add an empty gulp-rename like this

[code]

Now the path is `/js/runner/file1.js` which is almost what I wanted, but t

[2015-06-04 00:21] JamesMcMahon opened #64 "Doc issue: sync and publish"
What's the difference between the `publish` and `sync` API? It's unclear looking at the README.

[2015-06-04 05:01] pgherveou commented on #64
Sync create a stream that can be piped after publish to remove files that are not in your local directory (or input stream) anymore.

Does it make more sense? Please feel free to update the doc and send a PR to make it clearer

Sent from my iPhone

[2015-06-04 11:50] JamesMcMahon commented on #64
Let me make sure I understand correctly, publish will never delete files remotely?

[2015-06-04 15:22] JamesMcMahon opened #65 "Question: Is it possible to upload both gzipped and non-gzipped files?"
It is possible to upload both gzipped and non-gzipped files in a single task?

Currently I have the following:
[code]

But if I try to add `sync` to either or these tasks they delete each other's files. Is it possible to do this is in single task so that `sync` respects that both versions of the file should be uploaded?

[2015-06-04 15:26] pgherveou commented on #64
Yes It can update files but wont do any delete

Sent from my iPhone

[2015-06-04 15:28] pgherveou commented on #65
You should be able to create two streams merge them and then sync

Sent from my iPhone

[2015-06-04 18:52] JamesMcMahon commented on #65
Ah, thanks for the tip, this is what I ended up doing:

[code]

Think something like this is worth adding to the examples? I can create a PR when I get a chance.

[2015-06-05 00:48] pgherveou commented on #65
yep but maybe just specify the part not specific to your app so just keep

    var gzip = gulp.src(zipfiles)
        .pipe(awspublish.gzip());

    var plain = gulp.src(plainFiles)

    return merge(gzip, plain)
        .pipe(publisher.cache())
        .pipe(publisher.publish())
        .pipe(publisher.sync())
        .pipe(awspublish.reporter());

On Thu, Jun 4, 2015 at 11:52 AM, James F McMahon

[2015-06-05 23:15] #65 closed

[2015-06-05 23:19] pgherveou commented on #64
You are right about  running sync after publish,
Only use sync if you want to keep your local folder in sync with s3, in every scenarios where you just need to add files then its not necessary. Let me know if this is still not clear and agian feel free clarify the doc and close this issue when you are done!

[2015-06-05 23:22] JamesMcMahon commented on #64
Thanks for the clarification. I created a PR to help improve the docs.

[2015-06-05 23:22] #64 closed

[2015-06-05 23:25] pgherveou commented on #63
I am not sure your errors are specific to this plugin
This plugin just use the file.path that it receive from the gulp stream,
you should tweak your gulp.src call and maybe use something like https://www.npmjs.com/package/gulp-debug to debug whats coming into the stream

Closing this issue now but feel free to reopen it if it still unclear

[2015-06-05 23:25] #63 closed

[2015-06-05 23:27] pgherveou commented on #60
The doc already specify the link to setup your aws options http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor-property
but if it is still unclear please feel free to reopen this issue and eventually push a PR to fix the doc

[2015-06-05 23:27] #60 closed

[2015-06-06 19:14] jstejada commented on #21
@pgherveou I have the same use case. Indeed there is an endpoint to update the `Index Document`, but how can I get the generated file names from rev-all?

[2015-06-08 05:24] pgherveou commented on #21
Not familiar with this plugin but it seems that you can access the original filename (https://github.com/smysnk/gulp-rev-all#filerevpathoriginal) and thus add a condition to run your custom aws code

[2015-06-08 16:34] ramonck opened #69 "Great Work"
I think you guys just have to work a bit on the documentation but the product is great, works great in my project.

It would be nice to have the newest feature of storing the zip file in an S3 bucket instead of local hosting and upload.

Best Regards,

[2015-06-08 18:12] pgherveou commented on #69
Thks @ramonck!
Dont hesitate to submit a PR with your changes to the documentation if you think of way to make it better.

As for the  feature you are talking about, I am not sure to understand exactly what you are asking for

[2015-06-08 18:17] ramonck commented on #69
The feature is related to this new item https://forums.aws.amazon.com/ann.jspa?annID=3072

Best Regards

[2015-06-08 19:20] rossthedevigner opened #70 "Output log file of file.s3.state"
One of the great features is seeing what files are created, skipped, updated, etc. For logging reasons, would it be of interest to write out the changed or updated cache items to a log file or to service hook like slack.

[2015-06-08 20:38] pgherveou commented on #70
all this infos are attached to the vinyl file, the only thing you need to do is plug an other transform stream to send this out to wherever you wish to.
the log-reporter https://github.com/pgherveou/gulp-awspublish/blob/master/lib/log-reporter.js is just printing that out in the console but feel free to create your own module to send that to Slack if this is what you want to do

[2015-06-09 16:51] jasonhenderson opened #71 "Access Denied"
Thanks for putting this together.

I am new to automated s3 publishing, so please forgive my ignorance. I am getting Access Denied from the aws-sdk and it is probably due to my policy configuration.

Here is my config in the gulpfile (hard-coded for testing only, will transition to aws credentials suggested scheme once i get it working):

[code]
Am I missing something?

[2015-06-10 15:58] pgherveou commented on #70
closing for now let me know if this is not clear

[2015-06-10 15:58] #70 closed

[2015-06-10 17:02] jasonhenderson commented on #71
From what I could tell while going through the AWS-SDK logs, this is likely an issue with IAM policies. For now, I set the Action to "*" for the bucket and its objects, and it pushes the files up there. If I ever get around to isolating which actions are actually required, I will report back.

[2015-06-19 03:01] ramonck opened #72 "Not Deploying on West-2 since this morning"
Hey guys,
Some change happened since this morning I'm not able to deploy through this tool, I've to upload manually and that's with any function on west-2.
Thanks for your time.
Best Regards,

[2015-06-19 15:33] pgherveou commented on #72
Can you still connect manually with the awk sdk?

On Thu, Jun 18, 2015 at 8:01 PM, ramonck <notifications@github.com> wrote:

--
--
PG

[2015-06-19 16:20] ramonck commented on #72
Hello,

Not sure how I can connect manually with the AWS SDK, can you tell me?

I was able to connect into the Console and upload my function manually, that's working fine. But I really love the fact that I was always calling up the gulp command and it was working like a charm, I really like this gulp plugin and I want to keep on using it, please fix it :).

Best Regards,

[2015-06-19 17:54] JamesMcMahon opened #73 ".cache() doesn't take header changes into account"
When changing headers on objects the files are not republished if passed through `cache()`.

Might be doing something wrong but it seems like this is an omission with the current behavior. Thoughts?

[2015-06-19 18:04] JamesMcMahon commented on #72
The project hasn't had a release since May so unless you just updated from an older version I think it's very likely that the problem is with your AWS configuration.

What error are you seeing?

[2015-06-19 18:51] pgherveou commented on #73
Yes you are right. You will have to flush the cache file
we could create a hash for the headers and append it to the filename to
make it more bullet proof
If you have some time feel free to hack on it and send a PR

On Fri, Jun 19, 2015 at 10:54 AM, James F McMahon <notifications@github.com>
wrote:

--
--
PG

[2015-06-19 18:54] JamesMcMahon commented on #73
Thanks for the answer. If I get a chance I will take a look. For now I will just disable `cache()` in my personal project to avoid this issue.

[2015-06-19 18:58] ramonck commented on #72
no updates in gulp and no changes in my AWS Configuration and I don't see any erros :(.

[2015-06-19 22:22] ramonck commented on #72
Are you guys able to upload to west-2? Not sure why it stopped working, can I get log somewhere?

Tried it again and nothing, had to do manual upload again.

Best Regards,

[2015-06-22 01:54] ramonck commented on #72
It's working now :), didn't change anything, someone woke up and turned the switch back on :).

Thanks guys!

[2015-06-29 14:33] #72 closed

[2015-06-30 17:15] kremalicious commented on #71
Just confirming the listed actions in the ReadMe are not enough. Created an IAM user and attached this policy to give access to a specific bucket:

[code]

With this policy, gulp-awspublish just error out with `AccessDenied: Access Denied`. When adding the action `s3:*` everything works. Would be splendid to know which additional actions are needed.

[2015-06-30 17:18] alexgorbatchev commented on #71
Is `s3:*` action alone enough then? I'm pretty sure another more specific action might do the trick.

[2015-06-30 17:22] kremalicious commented on #71
yes, `s3:*` alone for the bucket contents works.

[2015-07-02 19:20] kretz commented on #53
And for those who get this error and don't know how to specify the region:

[code]

[2015-07-06 21:42] kvnlnt opened #74 "Doesn't seem to work with Bucket's that have a "." in their name"
I just ran a test with the aws-sdk and I'm able to upload to bucket's with a period in the name "example.com" for example. However, with gulp-awspublish, it fails. I removed the dot, it works, add it back, it fails and throws an error.

Please let me know if I'm doing something wrong, else this is a big issue since bucket names used for static hosting with route 53 need to match the zone files whi

[2015-07-07 04:54] kvnlnt commented on #74
For whatever reason specifying the region seems to resolve this issue. Ref: https://forums.aws.amazon.com/thread.jspa?threadID=167853

[2015-07-07 04:54] #74 closed

[2015-07-07 04:55] kvnlnt commented on #74
For whatever reason specifying the region resolves this issue...ref: https://forums.aws.amazon.com/thread.jspa?threadID=167853

[2015-07-15 19:57] ianbytchek opened #75 "Can't use absolute path in sync"
Oh gosh… I hope I didn't develop a wrong habit, but I tend to use full absolute paths for bucket keys, e.g., `/foo/bar/baz.qux`. Frankly, in the following the sync part doesn't work.

[code]

But if I change `publisher.sync('/foo')` to `publisher.sync('foo')` everything works as expected. I use `s3ForcePathStyle` in my config, which might be related? What do you think?

[2015-07-16 21:06] pgherveou commented on #75
I dont really remember but have a look at the source
and add some console.log around these lines to see which path slyle we used
https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L391

[2015-07-20 14:53] danielberndt commented on #60
I just got around actually updating to 2.0 and for reference's sake here's the code to enable working with [profiles](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html#Using_Profiles_with_the_SDK) for credentials:
[code]

[2015-07-20 17:53] pgherveou commented on #60
Cool, dont hesitate to  add a note in the readme

[2015-07-24 20:03] pizthewiz commented on #71
Thanks for the issue and workaround, I hit the same thing trying to limit an IAM user to a single bucket and this got things sorted.

[2015-07-25 03:34] jeberly opened #76 "On sync, error when trying to delete files `TypeError: Arguments to path.resolve must be strings`"
[code]

[2015-07-25 03:36] jeberly commented on #76
I had this error on one app, then upgrading npm modules on another and then got same error.  Any help in troubleshooting, greatly appreciated.

[2015-08-05 14:16] TheCloudlessSky commented on #73
:+1: I ran into this today. From my quick look it looks like the following needs to be done:

- [Add all headers](https://github.com/pgherveou/gulp-awspublish/blob/e0a713a3eadc2c0a2986dfae37d5172453ad5f67/lib/index.js#L301) *before* checking if it's in the cache.
- [Checking if the file is in the cache](https://github.com/pgherveou/gulp-awspublish/blob/e0a713a3eadc2c0a2986dfae37d5172453ad5f67/lib/

[2015-08-05 14:42] pgherveou commented on #73
yes I think you got it all,
also I will try not to break current behaviors
and add an option on the cache stream that specify headers to be checked, (or just a boolean depending of your needs)

the cache file could look like that and you would compare all keys with the file in the stream
{
  <file.s3.path>:  { etag: file.s3.etag, header1: 'header1 value', header2: 'header2 value' }
}

[2015-08-11 17:34] rossthedevigner commented on #63
@hrajchert did you get this figured out? I just ran into the same issue with a prefixed `/` before my bucketPath.

[2015-08-11 18:28] hrajchert commented on #63
Well, the last snippet that I had it's what worked for me and it's what I currently have in my gulpfile, but seems quite like a hack.

@pgherveou its not exactly an error but a feature missing I think. The initial / is doubtfull to be included in any s3 key, because of the behaviour I commented. The relative path part could be discussed

[2015-08-15 17:17] ianbytchek opened #80 "Everything gets published inside an empty-named directory"
:worried:

Basically. This.

![image](https://cloud.githubusercontent.com/assets/1086845/9289986/efba3724-4389-11e5-9a18-d26c0c04164c.png)

For some reason, it creates a directory / key, with an empty name, and puts everything in there. I'd expect S3 not to allow this, frankly. This is eu-central-1, which is known for awkward situations. I haven't tested in other regions, but assuming it's ok. I u

[2015-08-15 19:09] ianbytchek commented on #80
Happens [here](https://github.com/pgherveou/gulp-awspublish/blob/e0a713a3eadc2c0a2986dfae37d5172453ad5f67/lib/index.js#L87) because of this:

[code]

When src base parameter to gulp is specified without trailing slash, the resulting aws key will always start with the slash. E.g., path is `/foo/bar/baz/qux.json` and base is `/foo/bar`, the key will be `/baz/qux.json`. I'm used to "absolute" notatio

[2015-08-17 20:43] michaelerobertsjr commented on #18
I get failures all the time, or rather have to re-run the script because it fails to catch differences.  I usually run it on average 3 times, or until all files show 'cache' status.

[2015-08-26 04:29] pgherveou commented on #80
should be fixed in the last release after merging
https://github.com/pgherveou/gulp-awspublish/pull/81

[2015-08-26 04:29] #80 closed

[2015-08-26 04:30] pgherveou commented on #75
fixed by https://github.com/pgherveou/gulp-awspublish/pull/81

[2015-08-26 04:30] #75 closed

[2015-09-03 21:00] jeberly commented on #76
Sorry to bump this, but still running into this.  Anyone have ideas?  Thanks in advance!

[2015-09-04 13:40] pgherveou commented on #76
it seems to happen after printing the log
hard to tell what is going on from the trace :(

[2015-09-04 15:56] jeberly commented on #76
Any suggestions for how to dig deeper?  It only happens for me when sync is trying to delete files off of s3 that no longer exist locally.  Thanks in advance!

[2015-09-05 18:42] pgherveou commented on #76
How can this be possible, since your are sourcing files from your system?

can you try to dig by adding some console.log in the https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L357 to see what's going on?

or if you can give me a scenario that I can run and reproduce

[2015-09-08 13:18] Prinzhorn commented on #29
Is this still the same? Or maybe I'm too tired. Here's what I do:

[code]

[code]

both files are now in the bucket root. No matter what I've tried, they always end up in the root.

[2015-09-08 15:09] pgherveou commented on #29
this plugin use the relative path of your vinyl file
try to tweak the base maybe
[code]

[2015-09-10 11:24] Prinzhorn opened #82 "awspublish.gzip sets s3.path making it impossible to change it later"
Every plugin that tries to change the file path after `awspublish.gzip` has been run has no effect.

Example using gulp-rename:

[code]

The workaround is to use `awspublish.gzip` immediately before `publisher.publish`.

[2015-09-10 11:24] Prinzhorn commented on #29
@pgherveou I found the issue/bug #82

[2015-09-16 17:44] jarodtaylor opened #83 "Doesn't pick up /build directory if it was just created from build task"
Okay, so I'm using metalsmith to just generate a simple build directory with static assets in it (index.html, main.css, etc). If the /build directory doesn't exist first (say it was deleted by gulp-clean, or w/e) but is created prior to running the awspublish task:

`gulpfile.js` has this in it:
[code]
So prior to my deploy task I'm running `metalsmith` and `styles` which do their thing and create

[2015-09-16 20:01] jarodtaylor commented on #83
Okay, so I'm thinking you can close this, because it's not an issue with gulp-awspublish. Gulp tasks just don't see/detect newly created files/folders.

For anyone needing a solution, this is what I ended up doing, for now:

[code]

So I broke the `build` and `deploy` tasks out so that I could now run this in my terminal:

[code]

I just added it to my `package.json` file:

[code]

So now I can ju

[2015-10-01 17:25] juanqui commented on #71
It appears this library also needs the following permissions on the IAM user:
* `s3:GetObjectAcl`
* `s3:PutObjectAcl`

[2015-10-13 21:22] shantp opened #86 "zlib error when using awspublish.gzip()"
Using v3.0.1, when trying to use awspublish.gzip() on my files I get this error:

[code]

I installed gulp-awspublish@2.0.2 and the error is gone and my files gzip correctly.

[2015-10-14 11:50] blaues0cke commented on #53
The region key for frankfurt is: `eu-central-1`.

[2015-10-15 14:24] ColmHally opened #87 "Feature Discussion: Invalidating Cloudfront paths"
Would you be interested in a pull request that invalidated paths in an AWS Cloudfront Distribution depending upon their `file.s3.state` value? i.e. we issue invalidation requests for files that have changed, been deleted or just created..

There are modules out there that invalidate objects in Cloudfront (https://github.com/pksunkara/gulp-cloudfront-invalidate and https://github.com/solarnz/gulp-i

[2015-10-15 16:20] pgherveou commented on #87
I think it might be easier to break it down into a separate module and add a note in the readme
we can always merge it later on if we feel that it belong here

[2015-10-15 16:39] ColmHally commented on #87
Ok - that's fair enough; I'll set about creating that module in the next couple of days. Thanks for the quick response.

[2015-10-15 23:14] delta62 commented on #86
I can also repro this. Works in 2.0.2, but throws the error in 3.0.1.

[2015-10-16 17:07] pgherveou commented on #86
weird the tests are passing on the latest version
are the tests working for you?
https://github.com/pgherveou/gulp-awspublish#testing

[2015-10-16 17:53] shantp commented on #86
The way gzip is being used in the tests is not the same as the way it is shown in the README. Maybe that is my issue. Is the options object required? Should it be gzip.pipe() as shown in the tests?

[2015-10-16 18:14] pgherveou commented on #86
nop its not required
this is how I use it to publish our files
[code]

[2015-10-16 18:17] shantp commented on #86
OK, that's what my task looks like and I get the zlib error. The only difference is I don't restrict it to js and css.

[2015-10-16 19:09] pgherveou commented on #86
the zipping might fail on certain files?

On Fri, Oct 16, 2015 at 11:17 AM Shant Parseghian <notifications@github.com>
wrote:

[2015-10-17 01:38] delta62 commented on #86
I see the error if I'm running in an old version of node.

No problems in 4.0.0, breaks with 0.10.26. I did not test 12.x.

[This repo](https://github.com/delta62/aws-gzip) reproduces the error.

[2015-10-17 23:11] shantp commented on #86
This must be my error. I am on a 0.10 version of node.

[2015-10-19 00:01] pachirel commented on #53
I encountered same error when I tried to upload wrong region.

I have a budget in us-west-02 region, but I specified ap-northeast-1 region.

[code]

To fix it, remove existing budget and create new one in correct region or specify correct region.

[2015-10-20 03:09] billwing opened #88 "Missing credentials in config"
Why make the error, please?

[2015-10-20 06:36] billwing commented on #88
It's OK. This work.
[code]

[2015-10-20 06:36] #88 closed

[2015-10-25 15:43] ajbrown commented on #86
Confirming that upgrading to a 4.X version solves this problem.

[2015-10-25 18:26] pgherveou commented on #86
cool, maybe we should then add a note in the readme and update the node
version in package.json

On Sun, Oct 25, 2015 at 8:43 AM A.J. Brown <notifications@github.com> wrote:

[2015-10-29 00:27] ianbytchek commented on #71
@juanqui thanks! That did the trick.

[2015-11-07 03:00] elgreg commented on #82
Just got bitten by this pretty hard. +1 to fix please

[2015-11-13 09:26] wembernard commented on #53
Thank you @kretz :)

[2015-11-18 18:08] sbalay commented on #87
@ColmHally could you find a way to do this using the gulp pipeline?

[2015-11-22 20:54] panmanphil commented on #26
With the current 2.0.2 version of the plugin, using a name with periods in it, required for host name mapping of an s3 bucket, a publish command fails with the 301 issue. I can use the exact same code with a bucket without a period and all is fine. I am specifying the region as shown above. I can post with the aws s3 command with no problems.

Any suggestions would be appreciated.

[2015-11-23 00:11] pgherveou commented on #26
See if this thread helps
https://github.com/pgherveou/gulp-awspublish/issues/53

Check if you can do the following operations that the plugin does with your AWS client
https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L312
https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L336

[2015-11-23 04:07] panmanphil commented on #26
Gah! yes region was still the problem. I had region in there, but in the wrong place. It would really be great if the example on the README.md just had this in it from the start.

instead of:
[code]

please update the README to say
[code]

But thanks for the quick comment I have it working now.

[2015-11-23 06:11] pgherveou commented on #26
Cool glad it worked for u, can u send me a pull request to the readme

Sent from my iPhone

[2015-11-23 12:23] panmanphil commented on #26
done

[2015-12-07 15:59] peruukki opened #93 ".sync() can only delete remote files within the first 1000 files"
I noticed that some of our remote files were not deleted when using `.sync()`, and eventually found out that it's because the `sync` method enumerates the remote files with a simple call to [listObjects](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#listObjects-property) that only returns a maximum of 1000 files at a time.

I'm not sure how this should be solved, as [xml-json](htt

[2015-12-09 18:27] pgherveou commented on #93
```client.listObjects({ Prefix: prefix }).createReadStream()```

[2015-12-21 03:02] thewillhuang commented on #53
man, wasted so much time on this. in my ~/.aws config, my region is set to us-west-2 but the gulp task woulden't work unless i specify it. /facepalm

[2015-12-21 23:55] benjamine commented on #18
+1, I started to get errors almost about 80% of the time when a bucket grew up (783.5 MB, 2,347 files)

[2015-12-30 08:51] mrzmyr opened #95 "Upload progress"
Its would be pretty neat to have a upload progess or something that indicates the upload while uploading larger files.

Thanks for the great work, keep it up. :+1:

[2015-12-30 20:01] jakerobers commented on #71
For future devs having a similar error: I forgot to add my newly created user to the group.

[2016-01-15 22:06] cauealves opened #96 "Update the progress when sync"
Hello,

When my credentials do not have permissions for delete a object, the `sync` are showing the object are deleted but is wrong.

[2016-01-18 16:39] nathanredblur commented on #71
Thanks for this.
This is how look the IAM:Policy
[code]

This was more useful for solve my problem that README file.
Thanks again.

[2016-01-18 16:47] nathanredblur opened #97 "set profile."
Hi, it's posible to set the profile to use?
I mean, when you configure your AWS client, you can set profiles.
http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html#cli-multiple-profiles

It's posible configure this inside awspublish?

[2016-01-19 20:52] nathanredblur opened #98 "Allow skip files or folder from sync delete."
That, I wonder if I can tell to the sync function to sync all files and folder except my "/uploads" folder.
Thanks :)

[2016-01-20 15:26] Fatalito opened #99 "Issue using Content-MD5"
Hi,

If you specify a header Content-MD5, it's passed though a pascal case conversion to become ContentMd5, but AWS is expecting ContentMD5 (uppercase D)

Error:
UnexpectedParameter: Unexpected key 'ContentMd5' found in params.

Thanks!

[2016-01-20 16:55] pgherveou commented on #99
Didnt know that
Would you mind sending me a Pull Request for that
you can add the exception around this line
https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L63

[2016-01-20 16:57] pgherveou commented on #97
I guess so
Are you talking about what we mentioned here: https://github.com/pgherveou/gulp-awspublish#awspublishcreateoptions
Let us know if this works

[2016-01-20 17:00] pgherveou commented on #96
Yes this is because we are deleting all the files in bulk when the stream ends
https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L390
We dont handle the error, I guess we should report it somehow to the user.
Feel free to send a PR if you want to implement that.

[2016-01-20 17:01] pgherveou commented on #95
That would be nice indeed!
I dont have the time to work on it but feel free to send me a PR!

[2016-01-20 17:02] #87 closed

[2016-01-20 17:02] #86 closed

[2016-01-20 17:03] pgherveou commented on #83
Sorry for the slow response, an thanks for the code snippets!

[2016-01-20 17:03] #83 closed

[2016-01-20 17:05] pgherveou commented on #98
you can create a couple of gulp streams and the one that deal with upload wont pipe into sync()
Let me know if this works

[2016-01-20 17:05] #98 closed

[2016-01-20 17:06] pgherveou commented on #82
Maybe we can add a note in the Readme?
Would you mind sending a PR, of if you have a better solution feel free to update the code!

[2016-01-20 17:07] pgherveou commented on #76
closing for now let me know if we can help you solve this

[2016-01-20 17:07] #76 closed

[2016-01-20 17:10] pgherveou commented on #71
Thanks for the issue and workaround
@nathanredblur can you push your updates to the readme if you think it can help others ?

[2016-01-20 17:10] #71 closed

[2016-01-20 17:11] pgherveou commented on #53
Thanks for the issue and workaround.
Can you guys add any info that could help others in the Readme with a PR?

[2016-01-20 17:11] #53 closed

[2016-01-20 17:12] pgherveou commented on #97
closing the isssue for now feel free to reopen it

[2016-01-20 17:12] #97 closed

[2016-01-20 18:06] Fatalito commented on #99
I created https://github.com/pgherveou/gulp-awspublish/pull/100/files

[2016-01-21 21:22] nathanredblur commented on #98
How can I do?

this is my folder is like this but whit more folders and files in others difference paths
[code]

all that files can change but uploads folder always will be empty in local, but with other random files in S3.

this is my current task
[code]

[2016-01-21 21:24] nathanredblur commented on #71
Sure I can :)

[2016-01-21 21:36] nathanredblur commented on #97
yea, that exactly. thanks

[2016-01-21 22:55] nathanredblur commented on #98
I found a solution just adding more sync with prefix to the critical folders
[code]

I hope this help someone else.

note: sync allow array ```publisher.sync(['css/','scripts/'])``` but not works for me.

[2016-02-25 12:29] gavD opened #103 "Slow performance"
Hello,

I'm trying to migrate from the apparently abandoned [gulp-s3](https://github.com/nkostelnik/gulp-s3).

My site has only a handful of files - 5mb in total. Each one seems to take 30 seconds to a minute to upload - gulp-s3 went through the whole site in about 1 minute so something's clearly wrong.

snippet:

[code]

here's part of my gulp file:

[code]

Note the lag between the icon and defa

[2016-02-25 13:03] gavD commented on #103
Parallelizing this as per the docs gave me a speed boost:

[code]

[2016-02-25 13:03] #103 closed

[2016-04-03 23:36] kether667 opened #105 "utf8 BOM is stripped from text files on upload"
All files should be transferred as binaries.

i've discovered the problem as I tried to upload an installer. It has a list of files and their sha1 hashes generated during build. My installer was failing with the sha1 hash mismatch error and upon investigation I've confirmed that gulp-awspublish strips BOM from utf8 encoded text files.

[2016-04-04 04:33] kether667 commented on #105
i figured it out, it's actually gulp fault. Gulp depends on an ancient version of vinyl that strips BOM by default.

to fix the issue gulp.src should be replaced with:

var vinyl = require('vinyl-fs');
vinyl.src("windows/smartpager-desktop/publish/**/*", {stripBOM : false})

and then it will works as expected.

maybe you guys want to add it to readme?

[2016-04-04 13:56] clocked0ne opened #106 "sync always errors when trying to delete files"
Every time I try to use sync, I get the same error when it reaches the point of deleting out of date files - at first I thought it might be a permissions issue but the users all have the correct read/write permissions having tested it outside of this:

[code]

The error stack is huge and makes it hard to pinpoint where the problem is.

[2016-04-05 09:02] clocked0ne commented on #106
Okay so it would appear the issue is based with ```gulp-cloudfront``` and not this package, so I will close this issue.

[2016-04-05 09:02] #106 closed

[2016-04-05 11:54] sbalay opened #107 "Avoid .sync() deleting certain files"
Is it possible to use a regex or some kind of list so that sync does not delete certain files that are in the bucket but not in my local folder?

[2016-04-05 11:57] sbalay commented on #107
My scenario is: I have a frontend project hosted in a bucket, mainly .js .css and .html files. All those files are uploaded using gulp-awspublish. On another project, I generate the sitemap.xml file for this web and upload it to the bucket. So, everytime I use awspublish to upload the code files, the sitemaps gets deleted.

[2016-04-13 18:37] akrisanov commented on #69
I agree that the uploading of build zip archive would be very useful feature.
One of the use cases is a deploy an application with Amazon OpsWorks from S3 bucket.

![edit_site-staging_-_apps_-_core_staging__aws_opsworks_2016-04-13_21-30-57](https://cloud.githubusercontent.com/assets/238505/14505000/484e7272-01c8-11e6-9308-e4263b0933d4.png)

[2016-04-13 20:17] akrisanov commented on #69
@ramonck You also can do this in your gulpfile:

[code]

[2016-04-22 14:09] iongion commented on #107
Yes, me too, I deploy my sites and also have `/next-gen` , `/edge`, etc. aliases under the same bucket where I do A/B testing
Just a way to specify what sync should exclude, please!

[2016-04-27 07:18] yvele commented on #73
Hi, why don't you hash all headers in a single cache key?
I came with the same issue and because I needed a more modularized approach I created https://github.com/yvele/poosh it's working nicely and you can maybe look at it to fix your issue.

[Poosh](https://github.com/yvele/poosh) cache file stores 3 separate hash keys for each processed local file:
- File content hash key (MD5 + format suffix)

[2016-04-27 12:15] RichardOtvos opened #112 "Invalid semantic versioning + no tests for the new Publisher class"
Hi!

After the latest release the Publisher class also takes an options parameter, but as fas as I see there are no tests covering this functionality.

This is also a new (backward compatible) feature which should mean you increment the Minor version in your package JSON.

Our build broke, because the wrong version increase, which made me pretty sad. :(

If you need help I'm happy to update the te

[2016-04-27 13:36] pgherveou commented on #112
You are right.
Sorry about this mistake,
I am happy to accept any pull request you want to contribute.
I am not actively using this plugin, so I can add you on github/npm if you wish

[2016-04-27 16:16] RichardOtvos commented on #112
Sure :)

Let me cook up the PR quickly. I'm also happy to help if you need help maintaining the library.

[2016-04-28 19:39] leog commented on #107
+1

[2016-04-29 09:36] pgherveou commented on #112
@RichardOtvos just added you as collaborator, let me know what your npm username is so I can add you there as well if you want to

[2016-04-29 09:36] #112 closed

[2016-04-29 19:33] RichardOtvos commented on #112
Thanks, @pgherveou ! My npm username is richardotvos.
Thanks again!

[2016-04-29 21:04] pgherveou commented on #112
great just added you

[2016-05-01 13:27] RichardOtvos commented on #99
As this PR was merged in January (with #100, thanks for the PR @Fatalito ) and in the master branch since then, I'm just gonna close this ticket :)

[2016-05-01 13:27] #99 closed

[2016-05-01 16:52] RichardOtvos opened #114 "Update outdated npm dependencies"
@pgherveou   As you probably can see on the top of the README several of the npm dependencies are outdated. This probably means we could get easy wins in both speed and definitely in security with updating our packages. :)  We just need to be sure that the update won't break anything.

I will send in a PR with the updates, just want to add this issue in the meantime, so if anyone have questions or

[2016-05-01 17:58] RichardOtvos commented on #107
Hey there!
It seems to be a pretty popular feature, so I will come up with something, on the API side. It would also be helpful to hear some ideas, from you, about how do you imagine using this (like in calls in your gulpfiles for example).

If we have some consensus, I would be happy to make this PR for you guys! Of course if you have some existing code that you can submit, feel free to do so 😄

[2016-05-01 19:09] sbalay commented on #107
@RichardOtvos Hey I've recently made a quick workaround for this, and I'm using it locally.
I'll check if the code can be improved, add some tests and submit a pull request.

[2016-05-03 02:04] elado opened #117 "Question: Serving .gz files"
When using

[code]

files are gzipped and uploaded with .gz extension, e.g. `main.js.gz`.

Are these files supposed to be served specifically via CloudFront/CDN?

When I access a file, e.g. `https://s3-us-west-1.amazonaws.com/bucket/main.js.gz` the browser unzips the file and content type becomes `application/javascript`. So, is it ok to just remove the `ext` option?

[2016-05-03 15:37] #107 closed

[2016-05-03 15:39] RichardOtvos commented on #107
Nice! It will be included in the next release, (which I will try to make it happen in the next few days)

[2016-05-03 17:47] #114 closed

[2016-05-04 15:28] RichardOtvos commented on #117
Hey there!

The browser decides if your file is gzipped by examining the Content-Encoding header. So for example your file might have the following headers:

`Content-Type: text/javascript
Content-Encoding: gzip`

[2016-05-04 16:01] RichardOtvos commented on #105
Thanks for the investigation @kether667 !

I also looked into this and it seems like it won't be fixed in gulp3 (see: https://github.com/gulpjs/gulp/issues/1557), but adding this to the Readme is a good idea!

[2016-05-04 16:15] elado commented on #117
That's what I ended up doing - leaving the extension out. Still not sure when the extension is useful though.
Thanks.

[2016-05-04 17:36] RichardOtvos commented on #117
Well, if you have a bunch of files on S3 and want to know which are gzipped, it helps to have the .gz extension at the end :) You have a good point tough, I will add some clarifying sentences to the Readme's .gzip section

[2016-05-09 23:47] forrestbthomas opened #120 "default 'public-read' canned ACL"
Hi,

Firstly, thank you so much for your work on this module. I use it all the time.

I'm wondering if there is a possibility of removing the default `public-read` canned ACL. I am using this module for a project and need to be able to specify grants instead of a canned ACL. AWS doesn't allow for specifying canned ACL's as well as grants, thus making this module no longer usable for me. I'd love t

[2016-05-12 18:07] #69 closed

[2016-05-12 19:03] pgherveou commented on #120
Hi Thomas
Someone just wrote a pull request that we merged and publish to disable acl
https://github.com/pgherveou/gulp-awspublish#publisherpublishheaders-options
Does this answer your use case?

[2016-05-12 19:42] forrestbthomas commented on #120
Yep, sure does. Thanks!

[2016-05-14 00:05] panvourtsis opened #121 "InvalidAccessKeyId"
Hi all,

i am trying to connect to my bucket and although i am using this (DEMO keys etc) i am getting "InvalidAccessKeyId: The AWS Access Key Id you provided does not exist in our records."

I tried the credentials many times and are working through the client. Any ideas?

var publisher = awspublish.create({
        params: { Bucket: 'myBucket' },
        region: 'eu-west-1',
        accessKeyId:

[2016-05-18 07:16] cyberwombat opened #122 "No errors showing on fail"
I am using gulo and gulp-awspublish to sync to S3. The process fails even though it appears to be succcesful.

My console shows:

    [00:10:36] [update] assets/scripts/app-e78fb00935.js.gz
    [00:10:38] [update] assets/styles/main-887e4153ac.css.gz

But in fact these files are not in the bucket. I am not using awscache so I am a bit baffled as to what it's doing. What does this plugin use to det

[2016-05-18 18:27] cyberwombat commented on #122
Ok - it's related to awspublish-router. Its making an invisible root folder in which everything is placed. Not sure if its a bug or me not using it correctly.

[2016-05-18 18:27] #122 closed

[2016-06-15 10:13] panvourtsis commented on #121
anyone?

[2016-06-30 18:35] levithomason commented on #87
For those looking, https://github.com/lpender/gulp-cloudfront-invalidate-aws-publish

[2016-07-09 22:58] sergiovilar opened #126 "TimeoutError: Connection timed out after 120000ms"
Hello,

I'm having some issues trying to upload large files (~42mb) in low internet connections:

[code]

[2016-07-09 23:20] sergiovilar commented on #126
Nvw, just saw the timeout option.

[2016-07-09 23:20] #126 closed

[2016-07-12 14:54] michaelBenin commented on #121
Hey @panvourtsis ~

I would remove the your credentials from the thread above.

In the examples, using this with accesskey and id can be found here:

https://github.com/pgherveou/gulp-awspublish/blob/master/lib/index.js#L205

As you can see you need to create an instance first from here:

https://github.com/pgherveou/gulp-awspublish/blob/master/examples/simple.js#L6

Here's the docs from AWS.s3 fo

[2016-07-12 14:56] michaelBenin commented on #121
Also check the permissions on that bucket.

[2016-07-18 09:27] dagumak opened #127 "What is cacheOptions?"
I don't understand why do I need to provide an option for this when creating a publisher.

Why do I need this? What does it do? Does S3 require me to have this? I don't understand why I need this extra file in my repository.

[2016-07-18 14:59] pgherveou commented on #127
Nope its just part of the library, Its a local file where we store the hash digest of each file you pushed to s3 to avoid making a call to s3 api next time you run your gulp task

Sent from my iPhone

[2016-07-18 22:55] #127 closed

[2016-07-20 14:28] dagumak commented on #127
@pgherveou Thanks!

[2016-07-20 23:25] levithomason opened #128 "Download or getObject feature"
We're storing css regression reference images (phantomjs screenshots) on S3. I'm using gulp-awspublish to publish them.  When running tests, we need to download the reference images first, to compare our test images against the references.

We are currently using [`vinyl-s3`](https://www.npmjs.com/package/vinyl-s3) to download from S3.  This allows you to use S3 as a source or destination of vinyl

[2016-08-03 18:11] psullivan6 commented on #82
I found this issue really helpful in my searches, so I wanted to update the temporary solution from above with revised code. The below example uses node's `path.join` to create a path for each file passed in from the source glob. This way, you can have a local sub-directory structure that remains intact as it is moved into a new directory on S3.

[code]

[2016-08-17 20:55] vaer-k opened #131 "'force' option fails to bypass cache/skip in publish()"
I believe this is supposed to force the task to publish all files, and to never skip or use cache.

`.pipe(publisher.publish(headers, ['force']))`

According to my reporter I'm still seing skips:

[code]

[2016-08-17 21:24] pgherveou commented on #131
Option is a key/value object
did you try ```{force: true}```
see tests as a reference https://github.com/pgherveou/gulp-awspublish/blob/master/test/index.js#L314

[2016-08-17 21:26] vaer-k commented on #131
That was it. Thank you.

[2016-08-17 21:26] #131 closed

[2016-08-31 11:46] ianrose commented on #126
@sergiovilar running into the same issue. You mind sharing what timeout option you used/updated that solved this?

[2016-09-01 23:45] emilymerwin commented on #82
@psullivan6 Thanks! Just make sure you don't do `.pipe(publisher.sync())` or it will delete everything else in your bucket

[2016-09-08 09:33] AboulEinein commented on #126
Same here, can you please tell us where to set the timeout option?

[2016-09-08 11:26] AboulEinein commented on #126
Found the timeout option.
According to [AWS SDK documentation](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor-property) you can add `httpOptions` map and specify the `timeout` in it.

Here's an example:

`awspublish.create({
        params: publishParams,
        accessKeyId: 'accessKeyId',
        secretAccessKey: 'secretAccessKey',
        region: 'region',
        ht

[2016-09-28 20:35] martinmicunda opened #133 "Does this plugin support cross account access?"
Hi,

I try to publish my files to multiple accounts e.g. (dev, prod) however when I use this plugin I am getting `Access Denied` error. Does this plugin support assume role option to publish the files?

*gulpfile*
[code]

*config*
[code]

[2016-09-30 03:53] mikereinhold commented on #133
Same issue here, similar config as @martinmicunda

[2016-09-30 04:24] mikereinhold commented on #133
See https://github.com/aws/aws-sdk-js/issues/993

Apparently the js sdk doesn't read from an aws config file (such as ~/.aws/config) for role_arn and source_profile, however they can be read from a credentials file (~/.aws/credentials).

Just adding your cross account configurations in the credentials file works as expected. It doesn't seem to be documented anywhere that this configuration is an o

[2016-09-30 06:11] martinmicunda commented on #133
Thanks for tip @mikereinhold ;)

[2016-09-30 22:06] martinmicunda commented on #133
@mikereinhold could you share your settings as I tried to add cross account configurations in the credentials file but I am still getting  `Access Denied` error. Thanks

[2016-10-01 15:24] mikereinhold commented on #133
@martinmicunda - I am not using MFA on these cross account roles (yet), so maybe that is a problem, but this is what I'm doing:

~/.aws/credentials
[code]

gulpfile.js
[code]

[2016-10-01 20:46] martinmicunda commented on #133
@mikereinhold yeah it might be MFA however all my roles have to use MFA...

[2016-10-02 00:56] mikereinhold commented on #133
@martinmicunda I'm planning on turning on MFA, so this would be a blocking issue for me if MFA is indeed the cause...

I'll update this if I have trouble when I turn it on...

[2016-10-09 15:30] martinmicunda commented on #133
@mikereinhold the [aws-auth-helper](https://www.npmjs.com/package/aws-auth-helper) can help you with MFA it works for me..

[2016-10-15 19:00] mikereinhold commented on #133
Interesting - thanks

[2016-10-18 17:58] dcalhoun commented on #82
@emilymerwin @psullivan6 if you'd like, you should be able to use [`Publisher.sync`](https://github.com/pgherveou/gulp-awspublish/tree/v3.3.0#publishersyncprefix-whitelistedfiles)'s `prefix` option to only sync the specific created directory. From my experience, that leaves the rest of the bucket intact.

[2016-11-05 18:45] martinmicunda commented on #133
@mikereinhold have you got `gulp-awspublish` running with MFA.. I am using `aws-auth-helper` on my serverless project with MFA successfully however when I try to use MFA with `gulp-awspublish` I am getting 400 Bad Request error and AWS S3 has plenty of 400 responses so it's really hard to figure out what really cause the issue...

[2016-12-15 09:34] sp90 opened #136 "[Help]"
Hi thanks for a great plugin,

I want to know how to set different headers for different files, is this possible ?

[2016-12-15 10:23] sp90 commented on #136
I made this work by doing 2, with different cache file names, and then setting the index file that i want to add a different header. And in the second task only do file upload

[2016-12-15 10:26] martinmicunda commented on #136
@sp90 could you post an example... Currently I would want to set `max-age=0` for `index.html` page but for `js`, `css` files I would like to set `max-age=315360000`. Thanks

[2016-12-15 10:26] sp90 commented on #136
But i do think that it should have a feature to customize cache for each file maybe a function run for each file that can be injected in publish

[2016-12-15 10:36] martinmicunda commented on #136
@sp90 thanks! Yeah I agree it should be implemented in the plugin. I am facing an issue when I set header `max-age=315360000` and I invalidate cloudfront cache then the user sometimes need to refresh the page to get latest copy of `index.html`.

[2016-12-21 07:50] ajaykumar96 opened #137 "Failing always without showing error msg"
I am new to gulp, I have done some changes to code ,
My code is:

var awspublish = require('gulp-awspublish');

gulp.task('publish', function() {

  // create a new publisher using S3 options
  // http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor-property
  var publisher = awspublish.create({
    region: 'ap-south-1',
    params: {
      Bucket: 'sample-project'
    },

[2017-01-05 06:15] shadowmint commented on #105
Wow, this bit me as well; after loading a signed application using this plugin it failed validation because the BOM was altered on the upload.

Seriously nasty bug, and very difficult to track down.

[2017-01-28 10:10] michalc opened #138 "Suggestion: delay deletion"
If publishing a static website where the non-HTML resources (scripts, images etc) are versioned (with far-future expires headers), then I realise deletion of the previous resources causes a bit of a race condition

- A client requests a HTML file from the site
- A new version of the site, with new resources is uploaded to S3
- The old resources are deleted
- A client now requests the resources fro

[2017-03-01 06:30] benjaminmcdonald commented on #43
Is not setting a custom header a limitation of this plugin or the AWS sdk?

[2017-03-08 19:17] robwierzbowski commented on #43
I can set custom headers for `Cache-Control` with this plugin, no problem, so it's not an issue for all header values. I'm having the same issue, unable to set CORS access headers in the gulp plugin.

[2017-04-10 11:01] damonmaria commented on #138
I was thinking along similar lines and that S3 Object Expiration could do it. Unfortunately you can't set an object lifecycle policy just for an object. Only for a bucket and then narrow it down with prefixes or tags.

[2017-04-26 11:01] bennypowers commented on #82
Hello Internet,

If you're here because you're using `awspublishRouter`, take a look at the following configuration, which works to upload to a particular dir called `eve`

[code]

[2017-06-22 20:40] kaytrance opened #139 "CredentialsError: Missing credentials in config"
My publisher object in `gulpfile.js` **have** credentials (here I have changed them, of course):
[code]

Why then I still receive this error?

[2017-06-24 06:15] Daworks opened #140 "How can I use option s3.path?"
Hi!
This plugin is very convenient and great among the s3 related plugins I have used.

I want to specify the location when uploading to s3, but there is a s3.path option in the manual. I do not know how to use this. How do I set up to upload only certain directory and files within a bucket?

![screenshot](https://s3.ap-northeast-2.amazonaws.com/ssgblog/2017-07/capture.jpg)

Below is my gulpfile.j

[2017-06-29 15:04] flodonsky commented on #120
@pgherveou this can be closed

[2017-06-29 15:24] flodonsky opened #141 "Some Malformed Assets - Fonts & Images"
For some reason, when I use the awspublish plugin to move my files in a glob

[code]
I have a vendor and assets folder in my `dist` path, this does what it's supposed to do and transfers all the files into my s3 bucket and sets up cloudfront to point at the renamed index file. My JavaScript files work no problem, however my font files and SOME of my image assets ( my .ico file ) are malformed and

[2017-06-29 15:27] flodonsky commented on #140
Try: https://github.com/pgherveou/gulp-awspublish#rename-file--directory

[2017-06-29 17:45] pgherveou commented on #120
Thkd

[2017-06-29 17:45] #120 closed

[2017-06-29 18:04] flodonsky opened #142 "Parallelize ignores `force` flag in options for publisher"
when I do this:
[code]
it does NOT force them to be created.

[2017-07-13 14:18] jhg-tgu commented on #44
Same error, if I rename and use prefix the old files are not deleted

[2017-11-17 19:13] MichaelJCole commented on #139
See this PR: https://github.com/pgherveou/gulp-awspublish/pull/135/commits/c5ab23d9223378163df2fac11892d90ad063f6a3

[2017-11-17 19:14] MichaelJCole commented on #71
AWS config above has changed w/o updating the documentation.  See this PR if you're getting access denied:  https://github.com/pgherveou/gulp-awspublish/pull/135/commits/c5ab23d9223378163df2fac11892d90ad063f6a3

[2017-11-17 19:16] MichaelJCole opened #144 "README is a lie re: IAM credentials."
Hey guys, thanks for this plugin.  I burned 4 hours on this problem:

The [README](https://github.com/pgherveou/gulp-awspublish#testing) shows one way to configure IAM credentials.  This way consistently results in ACCESS DENIED.  It may work sometimes depending on how your AWS client is logged in.

This [PR](https://github.com/pgherveou/gulp-awspublish/pull/135/commits/c5ab23d9223378163df2fac1189

[2017-11-20 19:53] individual11 commented on #144
thanks! was driving me crazy.

Can this pr be accepted?

[2017-12-30 21:42] demurgos opened #145 "Replace deprecated dependency gulp-util"
[`gulp-util`](https://www.npmjs.com/package/gulp-util) has been deprecated recently. Continuing to use this dependency may prevent the use of your library with the latest release of Gulp 4 so **it is important to replace `gulp-util`**.

The [README.md](https://github.com/gulpjs/gulp-util) lists alternatives for all the components so a simple replacement should be enough.

Your package is one of th

[2018-01-04 14:01] kremalicious commented on #80
This is happening again on my side. Seems to have started going wrong about 2 weeks ago. Also using eu-central-1

[2018-01-17 18:29] jhulst commented on #80
@kremalicious I'm seeing this again too, were you able to resolve?

[2018-02-01 03:21] #145 closed

[2018-02-01 11:12] kremalicious commented on #80
@jhulst no, still having the same problem

[2018-02-06 11:24] merqurio commented on #63
I'm having the same issue too only when deploying through travis-ci though. I'll try renaming the paths...

[2018-03-07 13:21] pioug commented on #144
Thank you for reporting this! The readme is updated https://github.com/pgherveou/gulp-awspublish/pull/148.

By the way, the `credentials` object is not always necessary based on [AWS.S3 documentation](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor-property). I don't know well this SDK, but seems like it has something to do with setting `signatureVersion` in the same ti

[2018-03-07 13:21] #144 closed

[2018-03-07 19:05] nlaffey opened #150 ""InvalidParameterType: Expected params.ContentType to be a string" error after updating to 3.3.2"
Our builds started failing after the package was updated to 3.3.2. Changing it back to 3.3.1 has fixed it for now.

We aren't explicitly passing in a ContentType in either the `create` or the `publish` method options.

See the error below in our travis build:
[code]

[2018-03-08 06:35] pioug commented on #150
It should be fixed in latest release https://github.com/pgherveou/gulp-awspublish/releases/tag/v3.3.3.

Thanks for reporting the issue!

[2018-03-08 06:35] #150 closed

[2018-04-20 19:53] PaulRBerg opened #154 "TypeError: Cannot read property 'path' of undefined"
I'm trying to upload a set of `hbs` files, but I'm simply getting the error from the title. I made sure I have the right AWS credentials. Here's my gulp task:

[code]

[2018-04-20 19:57] PaulRBerg commented on #154
Nevermind, it works fine now.

[2018-04-20 19:57] #154 closed

[2018-05-22 20:13] PaulRBerg commented on #154
Sorry, I can't remember exactly, but I know it was something related to the configuration. Also add the access key id and the secret access key.

[2018-06-11 08:05] paulopmx opened #156 "Can I disable gzipped logs?"
I've like something similar with awspublish reporter where I can disable some of the states being shown on the terminal

[2018-06-18 23:09] paulopmx commented on #156
bump

[2018-06-20 09:54] pioug commented on #156
Hello @paulopmx, what are these gzipped logs? AFAIK there are:
- `cache`
- `create`
- `delete`
- `skip`
- `update`

[2018-06-21 00:28] paulopmx commented on #156
[08:24:46] [update] sitemap.xml
[08:24:46] [update] _nuxt/sitemap-routes.json
[08:24:46] [create] _nuxt/manifest.bd026a66099762d0c02a.js
[08:24:46] [create] _nuxt/pages/contact-us.fca1a2056ab9c78b25c0.js
[08:24:46] [create] _nuxt/pages/404.07da8be2cf47e99a0c25.js
[08:24:46] [create] _nuxt/pages/index.cc41d54247264234e50f.js
[08:24:46] [create] _nuxt/pages/culture.cea75eb4c06d6816b132.js
[08:24:46]

[2018-06-21 01:35] pioug commented on #156
@paulopmx I think you can whitelist some `states` in the `reporter` options:
[code]
It may remove the `gzipped` logs. I think that's why I never noticed that they exist 🙈

[2018-06-21 02:07] paulopmx commented on #156
Thanks. Fixed.

[2018-06-21 02:35] #156 closed

[2018-08-01 00:16] MarlonCopeland opened #158 "what is "cacheFileName", "Cache-Control" where can I find doumentation on this?"
what is "cacheFileName", "Cache-Control" where can I find doumentation on this? these options are not present on the AWS SDK documentation.

Will gulp awspublish work with this parameter not changed from 'your-chache-location'?

[2018-08-03 02:27] pioug commented on #158
AFAIK,
- `cacheFileName: 'your-cache-location'` is not an AWS thing

The cacheOptions object allows you to define the location of the cached hash digests. By default, they will be saved in your projects root folder in a hidden file called '.awspublish-' + 'name-of-your-bucket'.

- `Cache-Control` may be one of the HTTP headers that will be set for your assets

I hope it helps!

[2018-08-03 02:28] #158 closed

[2018-09-17 02:31] pioug commented on #139
It seems correct according to AWS SDK (https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#constructor-property). Feel free to reopen the issue with a reproducible case if possible.

[2018-09-17 02:31] #139 closed

[2018-09-17 02:34] #140 closed

[2018-09-17 02:36] #121 closed

[2018-09-27 22:59] iBasit opened #162 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
I have moved my server from AWS to another company, now I keep getting following error. It works fine if I put a small number of files, but as soon as the files are for the complete website, it throws this error which it did not use to do on amazon ec2 server.

code:
[code]

How can I fix this?

[2018-09-28 07:40] pioug commented on #162
Are your assets particularly heavy? I don't think this plugin retaining enough things in memory to cause  this type of error. I would recommend investigating in a different area (maybe the `max_old_space_size` argument for Node, the memory available on your server...)

[2018-09-28 09:05] iBasit commented on #162
I have already tried `max_old_space_size` https://stackoverflow.com/questions/37272998/gulp-call-and-retry-last-allocation-failed-process-out-of-memory

It halts the complete system and CPU usage gets very high, but even after a long period of time, it continues to do still go through it.

I had the same server with the same assets on AWS and process used to take a minute or two, but after moving

[2018-09-28 12:31] iBasit commented on #162
There was a symbolic link in the project, which adds WordPress files as well, but not sure why it would make difference since we are only fetching images and styles only.

after removing the symbolic link, everything works fine for now on the local test, will update again, if online test still persists same.

[2018-09-28 12:31] #162 closed

[2018-10-01 10:23] pioug opened #163 "Setup Travis CI"
Hello @pgherveou,

Can you enable Travis for this repo https://www.travis-ci.org/pgherveou/gulp-awspublish?

I would like to upgrade the dependencies so projects that use this plugin stop pulling old packages just  for `gulp-awspublish` needs 🏋️  I am afraid a lot of them may have dropped support for very old Node versions (and I think we should too).

Anyway, I would like to communicate clearly w

[2018-10-01 15:08] pgherveou commented on #163
Great ideas.
Travis should be activated now
Mocking aws for tests seems like a good idea, unless you find an easy way to safely configure it with yours in travis

[2018-10-02 01:07] pioug commented on #163
Nice! Thank you @pgherveou. CI is up! https://www.travis-ci.org/pgherveou/gulp-awspublish/builds/435916207. I created a PR https://github.com/pgherveou/gulp-awspublish/pull/164.

[2018-10-03 10:01] pioug commented on #163
I updated some dependencies and released `v3.4.1-rc` (https://www.npmjs.com/package/gulp-awspublish/v/3.4.1-rc.0). It's a pre-release, just in case 😅 But the CI is cool! I feel way more confident pushing things now.

[2018-10-03 10:01] #163 closed

[2018-10-26 22:56] daveplunkett commented on #93
Isn't it about time to fix this?

[2019-02-20 02:18] skeggse commented on #136
Related to #23?

[2019-04-20 03:12] arlogilbert opened #165 "AccessDenied - Non-Public S3 Breaks gulp-awspublish"
Long time user of this plugin and we keep forgetting one rule that is not documented.

No matter what your IAM privileges are (you can have full root access keys if you want).... If your S3 Bucket is set to prevent public ACLS you will spend 6 hours pulling your hair out over why you get an Access Denied message.

This is what it NEEDS to look like.

![Screen Shot 2019-04-19 at 10 11 38 PM](https:

[2019-05-27 04:45] anymos commented on #105
hopefully it as been fixed super quick, wait .. no it is not ... only 2 years after ...

[2019-11-02 11:35] #165 closed

[2019-11-02 11:37] pioug commented on #165
Thank you for reporting this. I added a section in the readme. Feel free to reword if it's incorrect 🙏

[2019-12-12 02:36] rmoskal commented on #93
javascript is beginning to look like lisp with all the partially working projects.

[2019-12-13 16:10] rmoskal commented on #93
There is now a PR that handles this:

https://github.com/pgherveou/gulp-awspublish/pull/175

If you can't wait it's here: https://github.com/rmoskal/gulp-awspublish

[2019-12-21 05:52] pioug commented on #93
Fixed v4.1.0 https://github.com/pgherveou/gulp-awspublish/releases/tag/v4.1.0

[2019-12-21 05:52] #93 closed

[2020-01-01 19:13] rmoskal opened #176 "Sync does not allow the deletion of more than 1000 keys/files"
This was introduced in breaking the 1K file retrieval limit in the latest release (by me :)).  The deleteObjects S3 call has a 1K file limit, so the request needs to broken up into 1K chunks.

[2020-01-02 04:28] Twipped commented on #176
Something else weird is happening too. I just downgraded back to 4.0.1 because the push kept crashing when trying to delete just two files.

[2020-01-02 13:07] rmoskal commented on #176
Yes, there is something else very strange happening.  Sync  works when I run it locally (via npm link or by simply pointing to a relative path on my file system in package.json), but as soon as I use a remote version it does not.  It's the darndest thing.  I am investigating.

[2020-01-02 22:53] slavafomin opened #178 "Why does it require "public" access to a bucket?"
Hello!

Thank you for this nice tool!

However, why exactly does it require "public" access to a bucket?

I'm serving my content using CloudFront and I want to configure my bucket to be private (I don't want content to be directly accessible). This is considered a best practice in AWS.

[2020-01-04 09:45] pioug commented on #178
I did a quick test and it should work with private buckets (_Block all public access: On_) by passing `{ noAcl: true }` or a value for the `'x-amz-acl'` header:

[code]

If it still not working for you, please share your bucket permission so I can investigate.

I wrote this part https://github.com/pgherveou/gulp-awspublish#bucket-permissions and now I realise that it's misleading 🙈🙈🙈 The thing is

[2020-01-04 15:24] slavafomin commented on #178
@pioug thank you for a quick reply and a suggestion. `noAcl: true` actually helped to resolve the issue in my case.

[2020-01-04 18:35] #178 closed

[2020-01-05 11:50] pioug commented on #176
PR squash-merged https://github.com/pgherveou/gulp-awspublish/commit/59490e860518bc3732526b38160fc7977435710d. Fixed in `v4.1.1` (https://github.com/pgherveou/gulp-awspublish/releases/tag/v4.1.1).

[2020-01-05 11:50] #176 closed

[2020-08-31 03:12] srchulo opened #185 "Way to only apply headers to files in a certain folder?"
I think it would be great to put an example of this in the readme! I haven't been able to figure this out myself.

Can it be done?

[2020-09-06 20:56] srchulo commented on #185
I was able to do this using merge-stream and using different cache headers for different paths.

[2020-09-06 20:56] #185 closed

[2020-09-06 21:06] srchulo opened #186 "sync mark expires instead of deleting now"
It would be great if there was an option when calling `publisher.sync()` to mark items that would be deleted instead as expires some point in the future. This could be great with apps that have different file names every deploy and don't want to break users that already have the site loaded.

[2021-09-11 14:46] pioug opened #195 "Migrate to @aws-sdk/client-s3"
The new AWS SDK is modular and would help to reduce the size of gulp-awspublish since it needs only the S3 client. I did a quick try and it doesn't look easy. I think we can consider bumping a major version due to the changes that are required.

Any help is welcome 💦

https://aws.amazon.com/blogs/developer/modular-packages-in-aws-sdk-for-javascript/
https://docs.aws.amazon.com/sdk-for-javascript/v

[2022-01-23 12:53] pioug commented on #195
https://github.com/pgherveou/gulp-awspublish/releases/tag/v6.0.0

![image](https://user-images.githubusercontent.com/3654180/150679296-02a2a5b5-30c2-4fa6-a2be-c1eefc3ce230.png)

[2022-01-23 12:53] #195 closed

[2022-03-03 10:19] TruffeCendree opened #205 "through2 still used in lib/log-reporter.js, but removed from package.json"
Thanks for managing this package.

We are unable to switch to v6.0.1 because the `through2` dependency was removed from `package.json`, but is still used in `lib/log-reporter.js`.

[2022-03-03 11:14] pioug commented on #205
@TruffeCendree Hello, thanks for reporting this ! Can you test the PR https://github.com/pgherveou/gulp-awspublish/pull/206 ? I've never used the reporter and it's not covered with tests 💦

[2022-03-03 18:40] TruffeCendree commented on #205
I will test it tomorrow.

[2022-03-03 21:01] TruffeCendree commented on #205
I was able to deploy by using your PR. Thanks.

[2022-03-04 01:37] pioug commented on #205
https://github.com/pgherveou/gulp-awspublish/releases/tag/v6.0.2

[2022-03-04 01:37] #205 closed

[2022-11-10 10:44] st3vo7 opened #207 "Publishing finishes with async with no result"
Without async/await, publishing to s3 results in
[code]